<br><br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
      <h1 class="oswald" style="font-size: 3.5rem;"> 🎁 Colaboraciones  </h1>
    </div>
  </div>
  <br>

	<div class="row">
		<div class="col">

    <div class="card-columns">

			<%= for image <- @images do %>
      <div class="card text-center">
			  <img class="card-img-top" src="<%= image.url %>" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title"> <%= image.esp_desc%> </h5>
        </div>
      </div>
			<% end  %>

    </div>

		</div>
  </div>
</div>
