<br><br>
<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand oswald" href="#"> 🏆 Achievements History </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
			<a href="#" phx-click="redirect_url" phx-value-uri_val="/admin"> <i class="fas fa-sign-out-alt"></i> Regresar </a>
    </span>
  </div>
</nav>

<br><br>

<div class="row">

<div class="col-md-12 text-center">

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col" width="33%">Title</th>
      <th scope="col" width="33%">Status</th>
      <th scope="col" width="33%">Deadline Date</th>
    </tr>
  </thead>
  <tbody>
    <%= for model <- @models do %>
    <tr>
      <td><%= model.title %></td>
      <td>
      <%= if model.status == "TO DO" do %>
				<span class="badge badge-secondary">TO DO</span>
      <% end %>
      <%= if model.status == "DOING" do %>
				<span class="badge badge-info">DOING</span>
      <% end %>
      <%= if model.status == "DONE" do %>
				<span class="badge badge-success">DONE</span>
      <% end %>
			</td>
      <td><%= model.deadline %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>

</div>

</div>

