<br><br>

  <!-- Header -->
  <header class="bg-dark py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2"> 📚 Training</h1>
          <p class="lead mb-5 text-white-50"> Cursos y talleres organizados por Visual Partnership</p>
        </div>
      </div>
    </div>
  </header>
<main role="main" class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a href="#" phx-click="new" class="navbar-brand oswald btn btn-success" style="color: white;"> 🚀 Nuevo Curso </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">
			<a href="#" phx-click="redirect_url" phx-value-uri_val="/admin"> <i class="fas fa-sign-out-alt"></i> Regresar </a>
      </span>
    </div>
  </nav>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h5 class="border-bottom border-gray pb-2 mb-0 oswald">Cursos y Talleres</h5>

		<!-- Item -->
		<%= for model <- @models do %>
    <div class="media text-muted pt-3">
			<span style="font-size: 2.5rem;"> 📕 </span> &nbsp;&nbsp;
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">
					  <a href="#" class="oswald bluevp" style="font-size: 1.3rem;">
						  <%= model.title %>
						</a>
					</strong>
          <a href="#" class="btn btn-sm btn-secondary"> 🖍 Editar</a>
        </div>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#exampleModal<%= model.id  %>">
					<small>Eliminar Curso</small>
				</button>
				<!-- Button trigger modal -->
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal<%= model.id  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Eliminar Curso </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            ¿Quieres eliminar este curso, sesiones y archivo?
            <br><br>
            <h1 class="oswald"> <%= model.title %> </h1>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" phx-click="delete" phx-value-id="<%= model.id %>" data-dismiss="modal"> Eliminar </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
		<% end %>
		<!-- Item -->

  </div>
</main>
