# Clean out cache contents from previous deploys
clean_cache=false

# We can change the filename for the compile script with this option
compile="compile"

# We can set the version of Node to use for the app here
node_version=12.13.1

# We can set the version of NPM to use for the app here
npm_version=6.12.1

# We can set the version of Yarn to use for the app here
yarn_version=1.21.1

assets_path=.
