<!-- mis cursos inscritos --!>
<%= if @open != [] do %>
	<h3 class="oswald bluevp"> 🚀 Asistirás a: </h3><br>
<% else %>
  <div class="jumbotron text-center">
		<img src="https://res.cloudinary.com/carlogilmar/image/upload/v1601701998/open_visual_partner/5430770_wboizk.png" width="30%">
    <h1 class="display-4"> Tus Cursos 🎁</h1>
    <p class="lead"> Aquí verás los cursos a los que asistirás. ¡Mira los próximos!</p>
    <a class="btn btn-primary btn_taj oswald" href="<%= Routes.static_path(@conn, "/dashboard/next")%>"><h2> Próximos Cursos 👋</h2></a>
    <hr class="my-4">
  </div>
<% end %>

<div class="row">
  <%= for enrollment <- @open do %>
    <div class="col-md-12">
      <div class="card bg-dark text-white mb-3">
        <div class="card-body text-center">
        <h2 class="card-title">
        <%=enrollment.course_session.course.title %>
        </h2>
        <span class="badge badge-info">📆 <%= get_date(enrollment.course_session.session_date) %></span>
        <span class="badge badge-light oswald"> Asistirás a este curso 🔥</span>

        <br>
				<a class="btn btn-warning btn-sm oswald" data-toggle="collapse" href="#collapseCancel" role="button" aria-expanded="false" aria-controls="collapseCancel">
					Cancelar mi asistencia🚫
				</a>
				<div class="collapse" id="collapseCancel">
				<br>
        <%= link "Cancelar mi asistencia a este curso", to: Routes.static_path(@conn, "/dashboard/#{enrollment.id}"), method: :delete, class: "btn btn-danger btn-sm btn-block oswald" %>
				</div>

        </div>
      </div>
    </div>
  <%= end %>
</div>
<!-- mis proximos cursos --!>
