<br><br>
<div class="container" id="app" style="max-width: 100%;">
  <!-- User iD --!>
	<input type="hidden" id="user" value="<%= @user.identifier%>">

  <!-- Main row --!>
  <div class="row" v-cloak>

	  <!-- First column  --!>
    <div class="col-md-4">

		  <!-- Profile --!>
			<div class="row">
        <div class="col-12 text-center">
				  <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1601588437/visual_partner/IMG_0157_ggarsn.png" width="80%"/>
			    <div class="card">
			      <div class="card-body text-center">
						<span class="lead oswald"> Bienvenido <%= @user.name %> 👋</span>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link redvp oswald" href="<%= Routes.static_path(@conn, "/dashboard/profile")%>/<%= @user.identifier %>"> Perfil 👤</a>
              </li>
              <li class="nav-item">
                <a class="nav-link redvp oswald" href="<%= Routes.static_path(@conn, "/dashboard/learning")%>">Mi Aprendizaje 📚</a>
              </li>
              <li class="nav-item">
								<a class="nav-link redvp oswald" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
								Logout 👣
								</a>
						  </li>
            </ul>

						<div class="collapse text-center" id="collapseExample">
							<br><a href="<%= Routes.static_path(@conn, "/logout")%>" class="btn btn-sm btn-warning oswald"> <i class="fas fa-sign-out-alt"></i> Cerrar Sesión en Visual Partnership</a>
						</div>

			      </div>
			    </div>
			  </div>
			</div><br>
		  <!-- Profile --!>

      <!-- mis proximos cursos --!>
			<%= if @open != [] do %>
				<h3 class="oswald bluevp"> 🚀 Asistirás a estos próximos cursos: </h3><br>
			<% else %>
        <div class="jumbotron text-center">
					<img src="https://res.cloudinary.com/carlogilmar/image/upload/v1601701998/open_visual_partner/5430770_wboizk.png" width="30%">
          <h1 class="display-4"> Tus Cursos 🎁</h1>
          <p class="lead"> Aquí verás los cursos a los que asistirás.</p>
          <hr class="my-4">
        </div>
			<% end %>

      <div class="row">
        <%= for enrollment <- @open do %>
          <div class="col-md-12">
            <div class="card bg-dark text-white mb-3">
              <div class="card-body text-center">
              <h2 class="card-title">
              <%=enrollment.course_session.course.title %>
              </h2>
              <span class="badge badge-info">📆 <%= get_date(enrollment.course_session.session_date) %></span>
              <span class="badge badge-light oswald"> Asistirás a este curso 🔥</span>
              </div>
            </div>
          </div>
        <%= end %>
      </div>
      <!-- mis proximos cursos --!>

    </div>
	  <!-- First column  --!>

	  <!-- Second column  --!>
    <div class="col-md-8">

      <!-- mis proximos cursos --!>
      <div class="row">
        <%= for enrollment <- @in_course do %>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header text-center oswald">
                <%=enrollment.course_session.course.title %>
              </div>
              <img class="card-img" src="<%=enrollment.course_session.course.cover_url %>" alt="Card image">
              <div class="card-footer text-center">
              <a href="<%= Routes.static_path(@conn, "/dashboard/attendee")%>/<%= @user.identifier %>/<%= enrollment.id%>" class="btn btn-success oswald"> <h2>E N T R A R 🔥 </h2></a>
              </div>
            </div>
          </div>
        <%= end %>

        <%= for enrollment <- @ready do %>
          <div class="col-md-12">
            <div class="card bg-success text-white">
              <div class="card-header text-center oswald">
                <%=enrollment.course_session.course.title %>
              </div>
              <img class="card-img" src="<%=enrollment.course_session.course.cover_url %>" alt="Card image">
              <div class="card-footer text-center">
              <a href="<%= Routes.static_path(@conn, "/dashboard/attendee")%>/<%= @user.identifier %>/<%= enrollment.id%>" class="btn btn-sm btn-secondary oswald"> Concluir 🔥 </a>
              </div>
            </div>
          </div>
        <%= end %>
      </div><br>
      <!-- mis proximos cursos --!>

			<%= if @courses != [] do %>
				<h4 class="oswald bluevp"> 💖 Cursos Disponibles </h4><br>
			<% else %>
        <div class="jumbotron text-center">
					<img src="https://res.cloudinary.com/carlogilmar/image/upload/v1591081573/open_visual_partner/Ilustracio%CC%81n_sin_ti%CC%81tulo_46_kmdl4s.png" width="30%">
          <h1 class="display-4">Próximos cursos 🎨</h1>
          <p class="lead"> Aquí encontrarás los siguientes cursos.</p>
          <hr class="my-4">
        </div>
			<% end %>

      <!-- cursos disponibles --!>
			<div class="row">

			  <%= for session <- @courses do %>
        <!-- card --!>
        <div class="col-12 col-md-6">
          <a href="<%= Routes.static_path(@conn, "/dashboard/enrollment/")%><%= session.id %>" class="redvp">
            <div class="card_course">
            	<div class="layer2" style="background-image: url(<%= session.course.cover_url %>)"></div>
            	<div class="layer5 layer5--blue"></div>
            	<div class="layer7 layer7--blue">
            		<div class="text">
            			<h2 class="oswald"> <%= session.course.title %> </h2>
            			<p> <%= get_date(session.session_date) %> </p>
            		</div>
            	</div>
            </div>
			      <h4 class="oswald text-center"> Inscribir </h4>
					</a>
        </div>
        <!-- card --!>
				<% end %>
			</div>
      <!-- cursos disponibles --!>

		</div>
	  <!-- Second column  --!>

  </div>
  <!-- Main row --!>

</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/user_controller.js") %>"></script>
