<br>

<style lang="css">
  /* style the background and the text color of the input ... */
  .vue-tags-input {
    background: #ffb912;
  }

  .vue-tags-input .ti-new-tag-input {
    background: transparent;
    color: #b7c4c9;
  }

  .vue-tags-input .ti-input {
    padding: 4px 10px;
    transition: border-bottom 200ms ease;
  }

  /* we cange the border color if the user focuses the input */
  .vue-tags-input.ti-focus .ti-input {
    border: 1px solid #ebde6e;
  }

  /* some stylings for the autocomplete layer */
  .vue-tags-input .ti-autocomplete {
    background: #283944;
    border: 1px solid #8b9396;
    border-top: none;
  }

  /* the selected item in the autocomplete layer, should be highlighted */
  .vue-tags-input .ti-item.ti-selected-item {
    background: #ebde6e;
    color: #283944;
  }

  /* style the placeholders color across all browser */
  .vue-tags-input ::-webkit-input-placeholder {
    color: #a4b1b6;
  }

  .vue-tags-input ::-moz-placeholder {
    color: #a4b1b6;
  }

  .vue-tags-input :-ms-input-placeholder {
    color: #a4b1b6;
  }

  .vue-tags-input :-moz-placeholder {
    color: #a4b1b6;
  }

  /* default styles for all the tags */
  .vue-tags-input .ti-tag {
    position: relative;
    background: #ffb912;
    color: #283944;
  }

  /* we defined a custom css class in the data model, now we are using it to style the tag */
  .vue-tags-input .ti-tag.custom-class {
    background: transparent;
    border: 1px solid #ebde6e;
    color: #ebde6e;
    margin-right: 4px;
    border-radius: 0px;
    font-size: 13px;
  }

  /* the styles if a tag is invalid */
  .vue-tags-input .ti-tag.ti-invalid {
    background-color: #e88a74;
  }

  /* if the user input is invalid, the input color should be red */
  .vue-tags-input .ti-new-tag-input.ti-invalid {
    color: #e88a74;
  }

  /* if a tag or the user input is a duplicate, it should be crossed out */
  .vue-tags-input .ti-duplicate span,
  .vue-tags-input .ti-new-tag-input.ti-duplicate {
    text-decoration: line-through;
  }

  /* if the user presses backspace, the complete tag should be crossed out, to mark it for deletion */
  .vue-tags-input .ti-tag:after {
    transition: transform .2s;
    position: absolute;
    content: '';
    height: 2px;
    width: 108%;
    left: -4%;
    top: calc(50% - 1px);
    background-color: #000;
    transform: scaleX(0);
  }

  .vue-tags-input .ti-deletion-mark:after {
    transform: scaleX(1);
  }
</style>

<nav class="navbar navbar-light justify-content-center text-white" style="background-color: #eb6c6c;">
  <small class="oswald">
    <a class="text-white" href="<%= Routes.static_path(@conn, "/releases")%>">
    Esta plataforma es desarrollada por Visual Partnership 👨🏻‍💻
    </a>
  </small>
</nav>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand oswald" href="#"> 🎨 <%= @user.name %> </a>
  <span class="oswald text-white">
    Dashboard
  </span>
</nav>

<div class="container" id="app" style="max-width: 100%;">
  <!-- User iD --!>
	<input type="hidden" id="user" value="<%= @user.identifier%>">

  <!-- Main row --!>
  <div class="row" v-cloak>

	  <!-- First column  --!>
    <div class="col-md-4">

		  <!-- Profile --!>
			<div class="row">
        <div class="col-12 text-center">
				  <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1601588437/visual_partner/IMG_0157_ggarsn.png" width="80%"/>
			    <div class="card">
			      <div class="card-body text-center">
						<span class="lead oswald"> Bienvenido 👋</span>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link redvp oswald" href="<%= Routes.static_path(@conn, "/dashboard/profile")%>/<%= @user.identifier %>"> Perfil 👤</a>
              </li>
              <li class="nav-item">
                <a class="nav-link redvp oswald" href="<%= Routes.static_path(@conn, "/dashboard/learning")%>">Mi Aprendizaje 📚</a>
              </li>
              <li class="nav-item">
								<a class="nav-link redvp oswald" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
								Logout 👣
								</a>
						  </li>
            </ul>

						<div class="collapse text-center" id="collapseExample">
							<br><a href="<%= Routes.static_path(@conn, "/logout")%>" class="btn btn-sm btn-warning oswald"> <i class="fas fa-sign-out-alt"></i> Cerrar Sesión en Visual Partnership</a>
						</div>

			      </div>
			    </div>
			  </div>
			</div><br>
		  <!-- Profile --!>

      <!-- mis proximos cursos --!>
			<%= if @open != [] do %>
				<h3 class="oswald bluevp"> 🚀 Asistirás a estos próximos cursos: </h3><br>
			<% else %>
        <div class="jumbotron text-center">
					<img src="https://res.cloudinary.com/carlogilmar/image/upload/v1601701998/open_visual_partner/5430770_wboizk.png" width="30%">
          <h1 class="display-4"> Tus Cursos 🎁</h1>
          <p class="lead"> Aquí verás los cursos a los que asistirás.</p>
          <hr class="my-4">
        </div>
			<% end %>

      <div class="row">
        <%= for enrollment <- @open do %>
          <div class="col-md-12">
            <div class="card bg-dark text-white mb-3">
              <div class="card-body text-center">
              <h2 class="card-title">
              <%=enrollment.course_session.course.title %>
              </h2>
              <span class="badge badge-info">📆 <%= get_date(enrollment.course_session.session_date) %></span>
              <span class="badge badge-light oswald"> Asistirás a este curso 🔥</span>

              <br>
							<a class="btn btn-warning btn-sm oswald" data-toggle="collapse" href="#collapseCancel" role="button" aria-expanded="false" aria-controls="collapseCancel">
								Cancelar mi asistencia🚫
							</a>
							<div class="collapse" id="collapseCancel">
							<br>
              <%= link "Cancelar mi asistencia a este curso", to: Routes.static_path(@conn, "/dashboard/#{enrollment.id}"), method: :delete, class: "btn btn-danger btn-sm btn-block oswald" %>
							</div>

              </div>
            </div>
          </div>
        <%= end %>
      </div>
      <!-- mis proximos cursos --!>

    </div>
	  <!-- First column  --!>


	  <!-- Second column  --!>
    <div class="col-md-8">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" data-backdrop='static' data-keyboard='false' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center oswald">¡Hola! Queremos conocer más de ti, cuéntanos, ¿en qué actividades 📚 🌟 🏆 te gustaría aplicar el Visual Thinking 🖍? </h5>
            </button>
          </div>
          <div class="modal-body">
						<p class="lead signika"> <small> * Por ejemplo para usarlo en tus clases, aprender a dibujar, música, diseño, UI, UX, dar clases, compartir, para diseño de software, comunicación, emprendimientos...</small> </p>
						<vue-tags-input
							placeholder="Anota aquí tus ideas..."
							v-model="tag"
							:tags="tags"
							@tags-changed="newTags => tags = newTags"
							/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" v-on:click="save_definitions" > Listo 😁</button>
          </div>
        </div>
      </div>
    </div>
	  <!-- modal --!>

      <!-- mis proximos cursos --!>
      <div class="row">
        <%= for enrollment <- @in_course do %>
          <div class="col-md-12">
            <br>
            <div class="card bg-dark text-white mb-3">
              <div class="card-header text-center oswald">
              <h2><%=enrollment.course_session.course.title %></h2>
              </div>
              <div class="card-body text-center">
              <p class="lead"> !Ya puedes entrar a tomar este curso!</p>
              <span class="badge badge-info">📆 <%= get_date(enrollment.course_session.session_date) %></span>
              <br><br>
              <a href="<%= Routes.static_path(@conn, "/dashboard/attendee")%>/<%= @user.identifier %>/<%= enrollment.id%>" class="btn btn-success oswald"> Entrar al curso 🔥 </a>
              </div>
            </div>
          </div>
        <%= end %>

        <%= for enrollment <- @ready do %>
          <%= if enrollment.status == "READY" do %>
          <div class="col-md-12">
            <br>
            <div class="card text-white" style="background-color: #EB605E;">
              <div class="card-header text-center oswald">
              <h4><%=enrollment.course_session.course.title %></h4>
              </div>
              <div class="card-body text-center">
              <span class="lead">
                Ya puedes concluir tu asistencia, recuerda que una vez que termines este paso tendrás acceso al material de <b>referencia</b> y también a una <b> constancia de particiapación.</b> ⭐️
              </span>
              <br><br>
              <a href="<%= Routes.static_path(@conn, "/dashboard/attendee")%>/<%= @user.identifier %>/<%= enrollment.id%>" class="btn btn-light oswald btn-block"> Finalizar mi asistencia 🔥 </a>
              </div>
            </div>
          </div>
          <%= end %>
        <%= end %>
      </div><br>
      <!-- mis proximos cursos --!>

			<%= if @courses != [] do %>
				<h4 class="oswald bluevp"> 💖 Próximos Cursos </h4><br>
			<% else %>
        <div class="jumbotron text-center">
					<img src="https://res.cloudinary.com/carlogilmar/image/upload/v1591081573/open_visual_partner/Ilustracio%CC%81n_sin_ti%CC%81tulo_46_kmdl4s.png" width="30%">
          <h1 class="display-4">Próximos cursos 🎨</h1>
          <p class="lead"> Aquí encontrarás los siguientes cursos.</p>
          <hr class="my-4">
        </div>
			<% end %>

      <!-- cursos disponibles --!>
			<div class="row">

			  <%= for session <- @courses do %>
        <!-- card --!>
        <div class="col-12 col-md-6">
          <a href="<%= Routes.static_path(@conn, "/dashboard/enrollment/")%><%= session.id %>" class="redvp">
            <div class="card_course">
            	<div class="layer2" style="background-image: url(<%= session.course.cover_url %>)"></div>
            	<div class="layer5 layer5--blue"></div>
            	<div class="layer7 layer7--blue">
            		<div class="text">
            			<h2 class="oswald"> <%= session.course.title %> </h2>
            			<p> <%= get_date(session.session_date) %> </p>
            		</div>
            	</div>
            </div>
			      <h4 class="oswald text-center"> Inscribir </h4>
					</a>
        </div>
        <!-- card --!>
				<% end %>
			</div>
      <!-- cursos disponibles --!>

		</div>
	  <!-- Second column  --!>

  </div>
  <!-- Main row --!>

</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/user_controller.js") %>"></script>
