<!-- Profile --!>
<div class="row">
  <div class="col-12 text-center">
	  <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1601588437/visual_partner/IMG_0157_ggarsn.png" width="80%"/>
  </div>
</div><br>
<!-- Profile --!>
