<div id="app" class="container">
  <input type="hidden" id="note" value="<%= @note %>">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1 class="oswald taj_color text-center"> {{note.title}} </h1>
      <hr>
      <div v-html="note.body"> </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/note_controller.js") %>"></script>
