<br>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand oswald" href="#"> 🎨 <%= @user.name %> </a>
  <span class="oswald text-white">
  <a href="#" phx-click="redirect_url" phx-value-uri_val="/dashboard" class="btn btn-sm btn-light oswald"> ⭐️ Regresar al Dashboard </a><br>
  </span>
</nav>
<br>

<div class="container">

  <!-- Main row --!>
  <div class="row">

    <!-- First column  --!>
    <div class="col-md-4 text-center">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1601588437/visual_partner/IMG_0157_ggarsn.png" width="80%"/>
      <ul class="list-group">
        <li class="list-group-item oswald"> <%= @user.name %> </li>
        <li class="list-group-item oswald"> <%= @user.email%> </li>
      </ul>

			<br>

			<span class="oswald"> Tus intereses en Visual Thinking</span>
      <!-- Form --!>
      <form phx-submit="save_identifier">
			<div class="input-group mb-3">
			  <input type="text" required class="form-control" name="identifier[description]">
			  <button type="submit" class="btn btn-success oswald"> Agregar </button>
			</div>
      </form>
      <!-- Form --!>

      <table class="table table-sm text-center">
        <tbody>
					<%= for identifier <- @identifiers do %>
          <tr>
            <td class="signika"> <%= identifier.description %>  </td>
            <td>
							<button class="btn btn-sm btn-warning" phx-click="delete_identifier" phx-value-id="<%= identifier.id %>"> 🚫 </button>
						</td>
          </tr>
					<% end %>
        </tbody>
      </table>

    </div>
    <!-- First column  --!>

    <!-- Second column  --!>
    <div class="col-md-8">

		<h2 class="oswald text-center">Editar Perfil ⭐️</h2><hr>
		<span class="oswald"><small> <%=@msg%> </small></span><br><br>

    <!-- Editar Nombre  --!>
    <a class="oswald redvp" data-toggle="collapse" href="#collapseEditName" role="button" aria-expanded="false" aria-controls="collapseEditName">
       🖍 Editar Nombre
    </a>
    <hr>
    <div class="collapse" id="collapseEditName">
      <!-- Form --!>
			<br>
      <form phx-submit="save_name">
			<div class="input-group mb-3">
			  <input type="text" value="<%=@user.name%>" required class="form-control" name="user[name]">
			  <button type="submit" class="btn btn-success oswald"> Actualizar Nombre </button>
			</div>
      </form>
      <!-- Form --!>
    </div>
    <!-- Editar Nombre  --!>

    <!-- Editar Email  --!>
    <a class="oswald redvp" data-toggle="collapse" href="#collapseEditEmail" role="button" aria-expanded="false" aria-controls="collapseEditEmail">
       📧 Editar Email
    </a>
    <hr>
    <div class="collapse" id="collapseEditEmail">
      <!-- Form --!>
			<br>
      <form phx-submit="save_email">
			<div class="input-group mb-3">
			  <input type="email" value="<%=@user.email%>" required class="form-control" name="user[email]">
			  <button type="submit" class="btn btn-success oswald"> Actualizar Email</button>
			</div>
      </form>
      <!-- Form --!>
    </div>
    <!-- Editar Email  --!>

    <!-- Editar Email  --!>
    <a class="oswald redvp" data-toggle="collapse" href="#collapseEditPassword" role="button" aria-expanded="false" aria-controls="collapseEditPassword">
       🔑 Editar Password
    </a>
    <hr>
    <div class="collapse" id="collapseEditPassword">
      <!-- Form --!>
      <form phx-submit="save_password">
        <div class="form-group">
          <label class="oswald"> Password Actual </label>
          <input type="password" required class="form-control" name="user[password]">
        </div>
        <div class="form-group">
          <label class="oswald"> Nuevo Password </label>
          <input type="password" required class="form-control" name="user[new]">
        </div>
        <div class="form-group">
          <label class="oswald"> Confirmar Nuevo Password </label>
          <input type="password" required class="form-control" name="user[confirm]">
        </div>

        <button type="submit" class="btn btn-block btn-sm btn-success oswald"> Actualizar 🚀</button>
      </form>
      <!-- Form --!>
    </div>
    <!-- Editar Email  --!>

    <!-- Editar País  --!>
    <a class="oswald redvp" data-toggle="collapse" href="#collapseEditCountry" role="button" aria-expanded="false" aria-controls="collapseEditCountry">
       🌎 Editar País
    </a>
    <hr>
    <div class="collapse" id="collapseEditCountry">
      <!-- Form --!>
      <form phx-submit="save_country">
			<div class="input-group mb-3">
			  <input type="text" value="<%=@user.country%>" required class="form-control" name="user[country]">
			  <button type="submit" class="btn btn-success oswald"> Actualizar País </button>
			</div>
      </form>
      <!-- Form --!>
    </div>
    <!-- Editar País  --!>

    <!-- Editar Ciudad  --!>
    <a class="oswald redvp" data-toggle="collapse" href="#collapseEditCity" role="button" aria-expanded="false" aria-controls="collapseEditCity">
       🏡 Editar Ciudad
    </a>
    <hr>
    <div class="collapse" id="collapseEditCity">
      <!-- Form --!>
      <form phx-submit="save_city">
			<div class="input-group mb-3">
			  <input type="text" value="<%=@user.city%>" required class="form-control" name="user[city]">
			  <button type="submit" class="btn btn-success oswald"> Actualizar Ciudad </button>
			</div>
      </form>
      <!-- Form --!>
    </div>
    <!-- Editar Ciudad  --!>

    <!-- Editar Descripción  --!>
    <a class="oswald redvp" data-toggle="collapse" href="#collapseEditDescr" role="button" aria-expanded="false" aria-controls="collapseEditDescr">
       🏆 Editar Descripción
    </a>
    <hr>
    <div class="collapse" id="collapseEditDescr">
      <!-- Form --!>
      <form phx-submit="save_description">
        <div class="form-group">
          <textarea required class="form-control" name="user[description]" rows="2"> <%=@user.description %> </textarea>
			    <br><button type="submit" class="btn btn-success oswald"> Actualizar Descripción </button>
        </div>
      </form>
      <!-- Form --!>
    </div>
    <!-- Editar Descripción  --!>

    </div>
    <!-- Second column  --!>

  </div>
  <!-- Main row --!>

</div>
