/* This file is for your main application css. */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.cover_img {
  min-height: 455px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row-striped:nth-of-type(odd){
  background-color: #ffffff;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.letter_archetype {
  font-size: 6.25rem;
}

.row-striped {
    padding: 15px 0;
}

.lead {
  font-size: 1.25rem;
  font-weight: 200;
}

.lead_latin {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.30rem;
}

.lead_plus{
  font-size: 1.80rem;
}

.nav_color{
  background-color: #ffffff;
}

.taj_color{
  color: #cc3f1cb5;
}

.btn_taj{
  background-color: #cc3f1cb5;
  border-color: #cc3f1cb5;
}

.font_header {
  color: #757575;
}

a:hover{
  color: #cc3f1cb5;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.oswald-calendar {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.lobster{
  font-family: 'Lobster', cursive;
}

.oswald-font{
  font-size: large;
}

.pacific{
  font-family: 'Pacifico', cursive;
}

.footer-font{
  color: #757575; font-size: 15px;
}

.black-font{
  color: #000000; font-size: 20px !important;
}

.footer-min{
 font-size: 13px;
}

.carousel-item {
  /*height: 100vh;*/
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/*
.carousel-item {
  height: 32rem;
  background-color: #777;
}*/

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
  /*background-color: #cc3f1cb5;*/
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
