<!-- artwork description -->
<hr class="featurette-divider">

<div class="row featurette">

  <!-- img --!>
  <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
    <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1584080620/visual_partner/chaos_vucyjk.png" width="100%"/>
  </div>

  <!-- descriptions  --!>
  <div class="col-md-8">

  <h2 class="pacific">Artwork</h2>
    <div class="row">
      <div class="col-md-6">
        <h4 class="taj_color oswald"> Visual Partnership </h4>
        <p class="lead" style="font-size: 1rem;"> Recibe un acompañamiento visual para aterrizar tus ideas, proyectos y reuniones. 😉</p>
        <a href="<%= Application.get_env(:star, :base_url) %>/visual/partnership" class="btn btn-sm btn-primary mb-2 btn_taj"> Ver 🚀</a>
      </div>
      <div class="col-md-6">
        <h4 class="taj_color oswald"> Eventos </h4>
        <p class="lead" style="font-size: 1rem;"> ¿Te gustarían algunas ilustraciones que resuman lo más importante de tus conferencias? 🎤 </p>
        <a href="<%= Application.get_env(:star, :base_url) %>/visual/event" class="btn btn-sm btn-primary mb-2 btn_taj"> Ver 🚀 </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4 class="taj_color oswald"> Meetings </h4>
        <p class="lead" style="font-size: 1rem;"> ¿Quieres evolucionar la forma en que suceden tus juntas de trabajo? ¡Prueba con Visual Partership! 🗣 </p>
        <a href="<%= Application.get_env(:star, :base_url) %>/visual/meetings" class="btn btn-sm btn-primary mb-2 btn_taj"> Ver 🚀 </a>
      </div>
      <div class="col-md-6">
        <h4 class="taj_color oswald"> Aprendizaje</h4>
        <p class="lead" style="font-size: 1rem;"> ¿Quieres generar contenido visual para trasmitir mejor tu contenido? 🌅</p>
        <a href="<%= Application.get_env(:star, :base_url) %>/visual/resources" class="btn btn-sm btn-primary mb-2 btn_taj"> Ver 🚀 </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4 class="taj_color oswald"> Community </h4>
        <p class="lead" style="font-size: 1rem;"> ¿Meetups, reuniones de aprendizaje? ¡Podemos ayudarles con registros gráficos de su evento! 🖍 </p>
        <a href="<%= Application.get_env(:star, :base_url) %>/visual/resources" class="btn btn-sm btn-primary mb-2 btn_taj"> Ver 🚀 </a>
      </div>
      <div class="col-md-6">
        <h4 class="taj_color oswald"> Visual Stuff </h4>
        <p class="lead" style="font-size: 1rem;"> La comunicación visual ayuda no sólo a transmitir ideas, ¡también a transmitir emociones! ❤️ </p>
        <a href="<%= Application.get_env(:star, :base_url) %>/visual/funny" class="btn btn-sm btn-primary mb-2 btn_taj"> Ver 🚀 </a>
      </div>
    </div>

  </div>

</div>
<!-- artwork description -->
