<br>
<nav class="navbar navbar-expand-lg navbar-light text-white" style="background-color: rgb(38 47 60)">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
				<a class="btn btn-primary btn_taj oswald" href="<%= Routes.static_path(@conn, "/welcome")%>">
					L O G I N 🚀
				</a>
      </li>
      <li class="nav-item active">
				<a class="nav-link text-white oswald" href="<%= Routes.static_path(@conn, "/open")%>">
					Próximos Cursos 📚
				</a>
      </li>
    </ul>
    <a target="_blank" class="text-white oswald" href="<%= Routes.static_path(@conn, "/releases")%>">
    Esta plataforma es desarrollada por Visual Partnership
    </a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto text-center">
							<!-- Login --!>
							<span class="oswald bluevp"><h5>
								🎨Visual Thinking &nbsp;&nbsp; 📚 Training  &nbsp;&nbsp;🖍 Illustrations
							</h5></span>
				      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1602568635/visual_partner/Ilustracio%CC%81n_sin_ti%CC%81tulo_uungs6.png" width="100%" />
								<a target="_blank" href="https://www.instagram.com/visual_partner/" class="bluevp">
								<span style="font-size: 30px;"><i class="fab fa-instagram"></i></span>
								</a> &nbsp; &nbsp;
								<a target="_blank" href="https://www.facebook.com/Visual-Partnership-103869617939153" class="bluevp">
								<span style="font-size: 30px;"><i class="fab fa-facebook-f"></i></span>
								</a> &nbsp; &nbsp;
								<a target="_blank" href="https://twitter.com/visual_partner" class="bluevp">
								<span style="font-size: 30px;"><i class="fab fa-twitter"></i></span>
								</a> &nbsp; &nbsp;
								<a target="_blank" href="https://www.linkedin.com/company/visual-partnership/" class="bluevp">
								<span style="font-size: 30px;"><i class="fab fa-linkedin-in"></i></span>
								</a> &nbsp; &nbsp;
							<br><br>
							<a href="/welcome" class="btn btn-primary btn_taj oswald">
								<h4>  Entrar & Registrarse </h4>
							</a>
							<br><br>
							<br><br>
							<!-- Login --!>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

