<!-- links -->
<hr class="featurette-divider">
<div class="row featurette text-center">
  <div class="col-md-4">
    <h1><a class="oswald font_header" href="/blog">
        Blog
      </a></h1>
  </div>
  <div class="col-md-4">
    <h1><a class="oswald font_header" href="/sponsorship">
        Become a Sponsor
      </a></h1>
  </div>
  <div class="col-md-4">
    <h1><a class="oswald font_header" href="/releases">
        Open Platform
      </a></h1>
  </div>
</div>
<!-- links -->
