<!-- artwork -->
<hr class="featurette-divider"><br>

<div class="text-center" id="style" name="style">
  <h1 class="taj_color pacifico text-center"> <span> About my work! </span> </h1>
  <span class="lead"> Here you are some comments about my artwork and participations in <b>CMDX, Berlín and San Francisco!</b> </span><br>
  <span class="lead_latin"> Aquí podrás leer algunos comentarios de mi trabajo y de mi participación en algunos eventos <b>CDMX, Berlín, y San Francisco</b> </span>
</div>

<div class="row">

  <carousel-3d>
    <slide :index="0">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499229/visual_partner/IMG_4241_ideojx.jpg" />
    </slide>
    <slide :index="1">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499171/visual_partner/IMG_4247_kbqsrh.jpg" />
    </slide>
    <slide :index="2">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499170/visual_partner/IMG_4236_de3qak.jpg" />
    </slide>
    <slide :index="3">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499169/visual_partner/IMG_4244_lfhcln.jpg" />
    </slide>
    <slide :index="4">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499169/visual_partner/IMG_4238_yyx0wq.jpg" />
    </slide>
    <slide :index="5">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499167/visual_partner/IMG_4246_khaewi.jpg" />
    </slide>
    <slide :index="6">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499163/visual_partner/IMG_4239_ubk3gz.jpg" />
    </slide>
    <slide :index="7">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1577499151/visual_partner/IMG_4235_qlsfac.jpg" />
    </slide>
    <slide :index="8">
      <img src="https://res.cloudinary.com/carlogilmar/image/upload/v1584867512/visual_partner/IMG_5243_c22qor.jpg" />
    </slide>

  </carousel-3d>
</div>
<!-- artwork -->
