<br><br>

<div class="container">
  <div class="row text-center">
    <h2> Blog </h2>
    <br>
    <ul>
    <%= for note <- @notes do %>
    <li>
      <a href="#" phx-click="redirect_url" phx-value-uri_val="/note/<%= note.id %>"> <%= note.title %> </a>
    </li>
    <% end%>
    </ul>
  </div>
</div>

