<br><br>

<div class="container">

  <h1 class="pacifico text-center"> Sponsorship </h1>
	<br><br>

	<div class="row featurette text-center">
		<div class="col-md-6 text-center d-flex align-items-center justify-content-center">
		  <img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/carlogilmar/image/upload/v1584914365/visual_partner/gallery/IMG_5121_tbhmmk.jpg" width="100%" alt="Author">
		</div>
		<div class="col-md-6">
      <br><br>
      <br><br>
			<p class="lead">
        ¿Te gustaría promover este tipo de trabajo? Puedes contribuir a través de patrocinar 🤑 los registros gráficos de algún evento a través de 🖍 <b> Visual Partnership </b>. Ponte en contacto con nosotros contándonos más detalles y te enviaremos la información necesaria. 👇
			</p>
		</div>
		<div class="col-md-2"></div>
	</div>

	<br><br>

	<div class="row featurette text-center">

		<div class="col-md-2"></div>
		<div class="col-md-8 card">

      <div class="text-center">
        <br>
        <h1 class="oswald"> Contact me!</h1>
        <p class="card-text">
          <b>Do you want to contribute more? Send me a message!</b>
		    	<br>
		    	<i>Si quieres contribuir con más envíame un mensaje.</i>
		    </p>
        <form phx-submit="save">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
            <input type="email" class="form-control" required name="user[email]" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Message</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" required name="user[description]">
            </div>
          </div>

          <button type="submit" class="btn btn-secondary"> <b>SUBMIT REQUEST</b> </button>
        </form>
      </div>
      <br>

    </div>

	</div>

</div>
