<br><br>
<div class="container" id="app">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand oswald" href="#"> 🎁 Deliverables </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			</ul>
			<span class="navbar-text">
				<a href="<%= Routes.static_path(@conn, "/admin")%>"> <i class="fas fa-sign-out-alt"></i> Regresar </a>
			</span>
		</div>
	</nav>
	<br>

	<div class="row" v-cloak>

		<div class="col-md-4">

			<button class="btn btn-success btn-sm btn-block" v-on:click="new_deliverable()"> N E W</button>
			<br<br>

			<div class="card" v-for="deliverable in deliverables">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<a class="oswald" v-on:click="show_deliverable(deliverable.id)" href="#"> 🎁 &nbsp; {{deliverable.title}}
							<span class="badge badge-success" v-if="deliverable.draft"> <small> Público</small> </span>
							<span class="badge badge-secondary" v-else> <small> Privado </small> </span>
						</a>
					</li>
				</ul>
			</div>

		</div>

		<div class="col-md-8" v-if="deliverable_selected">

			<div class="card" style="background-color: black;" v-if="!deliverable_selected.draft">
				<div class="card-body text-center oswald" style="color: white">
					<strong> This deliverable 🎁 it's set as private. </strong>
				</div>
			</div><br>

			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text"> 🎆 Título &nbsp; &nbsp; <span class="badge badge-secondary"> {{deliverable_selected.status}} </span> </div>
				</div>
				<input v-model="deliverable_selected.title" type="text" class="form-control" @blur="update($event.target.value, deliverable_selected.id, 'title')" />
			</div>
			<br>

			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text"> 👨🏻‍💻 Gallery Images Url</div>
				</div>
				<input v-model="deliverable_selected.url" type="url" class="form-control" @blur="update($event.target.value, deliverable_selected.id, 'url')" />
			</div>
			<br>

			<div class="input-group mb-2 mr-sm-2">

				<div class="form-row align-items-center">
					<div class="col-sm-4 my-1">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">🤑 Price</div>
							</div>
							<input type="number" class="form-control" v-model="deliverable_selected.price" @blur="update($event.target.value, deliverable_selected.id, 'price')">
						</div>
					</div>
					<div class="col-sm-4 my-1">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text"> ⏰ Hours</div>
							</div>
							<input type="number" class="form-control" v-model="deliverable_selected.hours" @blur="update($event.target.value, deliverable_selected.id, 'hours')">
						</div>
					</div>
					<div class="col-sm-4 my-1">
						<select class="custom-select mr-sm-2" v-model="deliverable_selected.status" @blur="update($event.target.value, deliverable_selected.id, 'status')">
							<option value="TO_START"> 🤓 Por Empezar</option>
							<option value="IN_PROGRESS"> 🔥 En Progreso</option>
							<option value="IN_REVIEW"> 🧐 En Revisión</option>
							<option value="DONE"> 😎 Listo para Entregar</option>
						</select>
					</div>
				</div>
			</div>
			<br>

			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text"> 🖍 Description </div>
				</div>
				<textarea v-model="deliverable_selected.description" class="form-control" @blur="update($event.target.value, deliverable_selected.id, 'description')" ></textarea>

			</div>
			<br>

			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text"> 🖌 Comments </div>
				</div>
				<textarea v-model="deliverable_selected.comments" class="form-control" @blur="update($event.target.value, deliverable_selected.id, 'comments')" ></textarea>

			</div>
			<br>

			<!-- illustrations section -->
			<table class="table table-sm text-center">
				<tbody>
					<thead>
						<tr>
							<th scope="col" colspan="2"> 🌇 Illustrations </th>
							<th scope="col">
								<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#newModal">
									New
								</button>
							</th>
						</tr>
					</thead>
					<tr v-for="illustration in illustrations">

						<td width="40%">
							{{illustration.title}}
						</td>
						<td width="40%">
							<span class="badge badge-warning" v-if="illustration.status == 'TO_START'">
								🤓 Por Empezar
							</span>
							<span class="badge badge-dark" v-if="illustration.status == 'IN_PROGRESS'">
								🔥 En Progreso
							</span>
							<span class="badge badge-info" v-if="illustration.status == 'IN_REVIEW'">
								🧐 En Revisión
							</span>
							<span class="badge badge-success" v-if="illustration.status == 'DONE'">
								😎 Listo para Entregar
							</span>
						</td>
						<td width="20%">
								<button class="btn btn-sm btn-info" data-toggle="modal" data-target="#illustrationModal" v-on:click="edit_illustration(illustration)">
									🖍 Edit
								</button>
							<button class="btn btn-sm btn-danger">🚮</button>
						</td>

					</tr>
				</tbody>
			</table>
			<!-- illustrations section -->

			<!-- Modal New-->
			<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">New Illustration</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="input-group mb-2 mr-sm-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> 🎆 Título </div>
								</div>
								<input v-model="new_illustration" type="text" class="form-control"/>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-success" v-on:click="add_illustration(deliverable_selected.id, new_illustration)">Save changes</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modals section -->

			<!-- Modal Edit-->
			<div class="modal fade" id="illustrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"> 🖍 {{illustration_selected.title}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="input-group mb-2 mr-sm-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> 🎆 Título </div>
								</div>
								<input v-model="illustration_selected.title" @blur="update_illustration($event.target.value, illustration_selected.id, 'title')" type="text" class="form-control"/>
							</div>
							<div class="input-group mb-2 mr-sm-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> 🌠 Image Url </div>
								</div>
								<input v-model="illustration_selected.url" @blur="update_illustration($event.target.value, illustration_selected.id, 'url')" type="text" class="form-control"/>
							</div>
							<div class="input-group mb-2 mr-sm-2">
								<div class="input-group-prepend">
									<div class="input-group-text"> 🚀 Status </div>
									<select class="custom-select mr-sm-2" v-model="illustration_selected.status" @blur="update_illustration($event.target.value, illustration_selected.id, 'status')">
										<option value="TO_START"> 🤓 Por Empezar</option>
										<option value="IN_PROGRESS"> 🔥 En Progreso</option>
										<option value="IN_REVIEW"> 🧐 En Revisión</option>
										<option value="DONE"> 😎 Listo para Entregar</option>
									</select>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<!-- modals section -->

			<!-- delete section -->
			<a class="btn btn-secondary btn-sm" v-if="deliverable_selected.draft" v-on:click="draft_to_private(deliverable_selected.id)">
				Volver Privado
			</a>
			<a class="btn btn-success btn-sm" v-else v-on:click="draft_to_public(deliverable_selected.id)">
				Volver Público
			</a>

			<a class="btn btn-warning btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				Delete
			</a> <br><br>
			<div class="collapse" id="collapseExample">
				<div class="card card-body">
					<button class="btn btn-danger btn-sm" v-on:click="delete_deliverable(deliverable_selected.id)">Delete</button>
				</div>
			</div>
			<!-- delete section -->

		</div><!-- Deliverable selected -->

		<div class="col-md-8" v-else>
			<div class="jumbotron">
				<h1 class="display-4">Visual Partnership</h1>
				<p class="lead">This are important post's for this project</p>
				<hr class="my-4">
			</div>
		</div>

	</div>

</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/management_controller.js") %>"></script>
