<br><br>
<div class="container" id="app">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand oswald" href="#"> 🎁 Deliverables </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			</ul>
			<span class="navbar-text">
				<a href="<%= Routes.static_path(@conn, "/admin")%>"> <i class="fas fa-sign-out-alt"></i> Regresar </a>
			</span>
		</div>
	</nav>
	<br>

  <div class="row" v-cloak>

    <div class="col-md-4">

			<button class="btn btn-success btn-sm btn-block" v-on:click="new_deliverable()"> N E W</button>
			<br<br>

      <div class="card" v-for="deliverable in deliverables">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="oswald" v-on:click="show_deliverable(deliverable.id)" href="#"> 🎁 &nbsp; {{deliverable.title}}
              <span class="badge badge-secondary"> <small>{{deliverable.status}}</small> </span>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-8" v-if="deliverable_selected">
			<div class="input-group mb-2 mr-sm-2">
				<div class="input-group-prepend">
					<div class="input-group-text"> Título </div>
				</div>
				<input v-model="deliverable_selected.title" type="text" class="form-control" @blur="update($event.target.value, deliverable_selected.id, 'title')" />
			</div>
			<br>

			<!-- delete section -->
      <a class="btn btn-warning btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Delete
      </a> <br><br>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <button class="btn btn-danger btn-sm" v-on:click="delete_deliverable(deliverable_selected.id)">Delete</button>
        </div>
      </div>
			<!-- delete section -->

    </div><!-- Deliverable selected -->

    <div class="col-md-8" v-else>
			<div class="jumbotron">
				<h1 class="display-4">Visual Partnership</h1>
				<p class="lead">This are important post's for this project</p>
				<hr class="my-4">
			</div>
		</div>

  </div>

</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/management_controller.js") %>"></script>
