<br><br>
<div class="text-center">
  <h2>Datos incorrectos<h2>
  <br>
  <span class="lead_latin"> Revisa que tus datos sean correctos. </span>
  <br>
  <a href="<%= Routes.static_path(@conn, "/welcome")%>" class="btn btn-sm btn-success">
    <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Regresar
  </a>
</div>
