<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Visual Partnership website">
		<meta name="author" content="carlogilmar">
		<link rel="icon" href="https://res.cloudinary.com/carlogilmar/image/upload/v1584863922/visual_partner/Ilustracio%CC%81n_sin_ti%CC%81tulo_3_fun73w.png">
		<title> Visual Partnership :: @visual_partner </title>
		<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
		<script src="https://kit.fontawesome.com/0f4591b7a3.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300i&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lobster|Oswald:400,600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	</head>
	<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-sm fixed-top nav_color justify-content-center">
      <span style="font-size: 1.80rem;">
        <span class="oswald bluevp">Visual</span>
        <span class="pacifico redvp">Partner</span>
        <span class="signika bluevp"><b>-SHIP</b></span>
      </span>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			</ul>
			<span class="navbar-text">
				<a class="navbar-brand text-center signika redvp" href="/">
					<i class="fas fa-home"></i> INICIAR SESIÓN
				</a>
			</span>
		</div>
	</nav>

		<br><br>
		<main>

			<%= render @view_module, @view_template, assigns %>

			<!-- FOOTER -->
			<hr class="featurette-divider">
			<footer class="container text-center">
				<div class="row text-center">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<img class="featurette-image img-fluid mx-auto" src="https://res.cloudinary.com/carlogilmar/image/upload/v1584863922/visual_partner/Ilustracio%CC%81n_sin_ti%CC%81tulo_3_fun73w.png" width="100%" alt="Author">
						<p class="lead footer-min">
						<br><span class="oswald"><b>Visual Partnership</b></span>
            <br><span class="oswald"><b>visualpartnership@gmail.com</b></span>
						</p>
					</div>
					<div class="col-md-4">
					</div>
				</div>
				<br><br>
			</footer>

		</main>

		<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
	</body>
</html>
